@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-open: var(--font-open-sans);
    --font-quintessential: var(--font-quintessential);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--foreground);
    color: var(--background);
    font-family: var(--font-open), Helvetica, sans-serif;
}

.main-container {
    position: relative;
    height: 100vh;
    width: 100%;
}
