.title-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.title-container {
    overflow: hidden;
}
.title {
    opacity: 0;
    font-size: 8rem;
    font-family: var(--font-quintessential);
    line-height: 1.2;
}
