nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transform: translateY(-100px); */
    padding: 1rem;
}
.logo {
    font-family: var(--font-quintessential);
    font-size: 2rem;
}

.nav-links {
    font-weight: 600;
}

.nav-button {
    position: relative;
    background-color: var(--color-foreground);
    padding: 0.5rem 1.5rem;
    color: var(--color-background);
    cursor: pointer;
    overflow: hidden;
    transition:all 0.3s ease-out;
    
    border: 1px solid var(--color-background);
}
.nav-button:hover {
   background-color: var(--color-background);
   color: var(--color-foreground);
   
}
